header {
    position: fixed;
}
.drawing-main-wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.drawing-tool {
    flex: 1;
    background-color: #EEEEEE;
    position: relative;
}

fieldset {
    position: absolute;
    bottom: 0;
}

.canvas-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    position: relative;
}

.canvas-wrapper .canvas {
    z-index: 10000;
    border: 1px dashed black;
}

.teeshirt {
    width: 1090px;
    position: absolute;
    z-index: 0;
    top: -90px;
}



.drawing-slider {
    display: flex;
    width: 100vw;
    overflow: scroll;
    gap: 2vh;
    border-top: 1px solid black;
    padding-top: 2vh;
    padding-bottom: 2vh;
    box-sizing: border-box;
    flex-direction: row-reverse;
    
}

.image-container {
    width: 15vh !important;
    aspect-ratio: 1 / 1;
    display: block;
    padding-left: 2vh;
    box-sizing: border-box;
}

.image-container a {
    width: 100%;
    height: 100%;
}

.image-container img {
    width: 15vh;
    border-radius: 0.5rem;
}

.floating-navigation {
    background-color: black;
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 1.5rem;
    left: 1.5rem;
    width: 5rem;
    border-radius: 0.5rem;
}

.floating-navigation button {
    padding-left: 0;
}


.floating-navigation img {
    transform: translateX(-3.5rem);
    transition: .2s transform ease-in-out;
}

.active img {
    transform: translateX(0rem);
}

/* 


.keen-slider__slide img {
    width: 100%;
    border-radius: 0.5rem;
}

.button-wrapper {
    position: absolute;
    right: 0;
    padding: 2vw;
    height: 8vw;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center ;
} */