:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

header {
  position: fixed;
  z-index: 100000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  box-sizing: border-box;
  pointer-events: none;
}

header a {
  pointer-events: all !important;
}

.buttons-wrapper {
  display: flex;
  gap: 2rem;
}

.buttons-wrapper > * {
  flex: 1;
}

.outline {
  background-color: white !important;
  border: 1px solid black !important;
  color: black !important;
}

header img {
  height: 4rem;
}

header .counter-wrapper span {
  background-color: white;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  /* color: #0000cc; */
}

input,
textarea {
  border: 1px solid #ccc;
  padding: 0.25em;
  margin-bottom: 0.5em;
}

button {
  background-color: inherit;
  color: #ffffff;
  border: none;
  padding: 0.25em 1em;
  cursor: pointer;
}

button:hover {
  background-color: #0000cc;
}

.no-hover:hover {
  background-color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1em;
}

li {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}
